*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(-45deg,
        #fd004c,
        #3363ff,
        #b102b7,
        #fd004c
        );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container{
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
input[type="number"]{
    width: 100px;
    font-weight: 600;
    color: #663399;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-size: 28px;
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.05)
    );;

}
button{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #663399;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: none;
}
p{
    font-weight: 500;
    font-size: large;
}

#again{
    display: none;
}
